@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  color: $font-color-main;
  background: $bg-main;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: $bg-main;
  padding: 24px 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

input {
  color: $font-color-main;
  outline: none;
  background-color: inherit;
  border: 1px solid $input-border;
  border-radius: $border-radius-s;

  &::placeholder {
    color: $input-placeholder;
  }
}

button {
  padding: 12px 16px;
  color: inherit;
  border: none;
  outline: none;
  background: none;
  border-radius: $border-radius-s;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: $bg-form;
}

.error {
  color: $error-color;
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
  }

  a,
  button {
    cursor: default;
  }
}
