$bg-main: #f4f4f5;
$bg-form: #ffffff;

$border-radius-s: 4px;
$border-radius-m: 12px;
$border-radius-l: 24px;

$font-color-main: #333333;
$font-color-white: #ffffff;

$primary: #5558fa;

$input-placeholder: rgba(0, 0, 0, 0.48);
$input-bg: rgba(0, 0, 0, 0.04);
$input-border: rgba(0, 0, 0, 0.16);

$error-color: #e84e58;

$divider-color: rgba(0, 0, 0, 0.08);

$avatar-bg: #d5e4f7;
$avatar-text: #212830;

$step: #a6a6a6;
$step-divider: #ebebeb;

$step-number: #666666; 

$step-passed: #5558fa;

$dropdown-arrow: rgba(0, 0, 0, 0.24);
$shadow: rgba(0, 0, 0, 0.08);

$basker: #cccccc;
