@import "../../styles/variables.scss";

.link {
  display: flex;
  align-items: center;
  color: $primary;
}

.icon {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.text {
  display: inline-block;
  margin-left: 5px;
}
